.gameDescription {
    z-index: 2;
    background-color: black;

    &__content {
        width: 60%;
        margin: 7vw auto;
        border: 4px solid white;
    }

    &__instructions {
        color: lime;
        font-family: monospace;
        font-size: 1.5vw;
        padding: 1vw;
        text-align: justify;
    }
}