.gameBoard {
    display: flex;
    z-index: 1;
    background-color: black;
    font-family: 'Staatliches', cursive;

    &__content {
        position: relative;
        margin: auto;
        width: 90%;
        height: 90%;
        border: 4px solid white;
        color: white;
    }

    &__army {
        height: 12%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__armyOfPlayer {
        width: 40vw;
        height: 80%;
        background-color: #eb4d4b;
    }

    &__armyOfEnemy {
        position: relative;
        width: 40vw;
        height: 80%;
        background-color: #6ab04c;
    }

    &__playerLabel,
    &__enemyLabel {
        height: 100%;
        border: 3px solid wheat;
        font-size: 2vw;
        text-align: center;
        color: white;
        padding-top: 0.7vw;
    }

    &__enemyLabel {
        position: absolute;
        right: 0;
    }

    &__code {
        height: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 2vw;

        p {
            margin-left: 1.5vw;
        }
    }

    &__target {
        width: 5%;
        text-align: center;
        padding: 0.5vw;
        background-color: teal;
        border-radius: 1vw;
    }

    &__map {
        background-color: blue;
        font-size: 2vw;
        text-align: center;
        height: 78%;
        display: grid;
        grid-template-columns: 1fr 12fr;
        grid-template-rows: 1fr 5fr;
        grid-template-areas:
            "xBox xBox"
            "yBox cityBox"
    }

    &__xCoordinates {
        background-color: #0a3d62;
        padding-top: 1.5vw;
        grid-area: xBox;
        display: grid;
        grid-template-columns: repeat(13, 1fr);
    }

    &__yCoordinates {
        background-color: #0a3d62;
        padding-top: 1.5vw;
        grid-area: yBox;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
    }

    &__city {
        position: relative;
        background-color: transparent;
        grid-area: cityBox;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(12, 1fr);
    }

    &__city canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__cityBox {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;

        &:hover {
            border: 2px solid black;
        }
    }

    &__cityBox img {
        position: absolute;
        width: 35%;
        height: 40%;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        animation: drop 1s forwards;
    }

    &__cityBox p {
        position: absolute;
        width: 65%;
        height: 30%;
        font-size: 1.1vw;
        font-family: 'Luckiest Guy', cursive;
        animation: showResults 1.2s 0.9s forwards;
    }

    @keyframes drop {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(130%);
            visibility: hidden;
            content: "Trafiony";
        }
    }

    @keyframes showResults {
        from {
            visibility: visible;
            transform: translateY(130%);
        }

        to {
            transform: translateY(80%);
            visibility: visible;
        }
    }

    &__message {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50%, 50%);
        width: 50%;
        border: 5px solid #ffa502;
        z-index: 2;
        text-align: center;
        padding: 1vw;
        background-color: #192a56;
        border-radius: 1.5vw;
    }

    &__result {
        font-size: 3.5vw;
        margin-bottom: 1.5vw;
        color: #778ca3
    }

    &__newGame {
        font-size: 2.5vw;
        padding: 0.6vw 1.2vw;
        font-family: 'Alfa Slab One', cursive;
        margin: 1.5vw;
    }

    &__label {
        font-size: 1.5vw;
        margin-right: 0.5vw;
    }
}