.welcomeScreen {
    z-index: 3;
    background-color: black;

    &__content {
        margin: 10vw auto;
        width: 60%;
        height: 50%;
        padding: 3vw;
    }

    &__title {
        text-align: center;
        color: white;
        font-size: 7vw;
        font-family: 'Bangers', cursive;
    }

    &__load {
        margin: 3vw auto;
        position: relative;
        width: 70%;
        height: 1.3vw;
        background-color: white;
        border-radius: 4px;
    }

    &__line {
        height: 100%;
        width: 0;
        background-color: orange;
        border-radius: 4px;
    }

    &__btn {
        position: absolute;
        bottom: 3vw;
        right: 3vw;
        width: 30%;
        height: 20%;
        font-size: 2vw;
    }
}