@import 'welcomeScreen';
@import 'gameDescription';
@import 'gameBoard';

$bgc-box:#576574;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapperGame {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.welcomeScreen,
.gameDescription,
.gameBoard {
    position: absolute;
    width: 100%;
    height: 100%;
}

.visible {
    visibility: hidden;
}

.clicked {
    position: relative;

    &:hover {
        box-shadow: 0 0 0 0;
    }

    &:before {
        position: absolute;
        content: "";
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: $bgc-box;
        opacity: 0.9;
    }
}


.choiced {
    background-color: $bgc-box;
}